#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left; /* Align content to the left */
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Set both columns to have a width of 50% */
  gap: 16px; /* Increase the gap between columns */
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Add styles for labels and values */
.label {
  font-weight: bold;
  font-size: 1.1rem; /* Slightly increase the size */
}

.value {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem; /* Add padding for better spacing */
  border-radius: 0.5rem; /* Add rounded borders */
  background-color: #f0f0f0; /* Light grey background color */
}

/* Add the following CSS to position the close button in the top right corner */
.close-button-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Ensure content takes up the full width of its parent container */
.full-width {
  width: 100%;
}